{{extend 'layout_A.html'}}


<div class="row">
    <div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="header">
                <h4 class="title">Edit Profile</h4>
            </div>
            <div class="content">
              <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="flag">
                                                                <img src="{{=URL('static','assets/img/DE.png')}}" <="" div="">
                                                        </div></td>
                                                        <td>USA</td>
                                                        <td class="text-right">
                                                            2.920
                                                        </td>
                                                        <td class="text-right">
                                                            53.23%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="flag">
                                                                <img src="{{=URL('static','assets/img/DE.png')}}" <="" div="">
                                                        </div></td>
                                                        <td>Germany</td>
                                                        <td class="text-right">
                                                            1.300
                                                        </td>
                                                        <td class="text-right">
                                                            20.43%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="flag">
                                                                <img src="{{=URL('static','assets/img/DE.png')}}" <="" div="">
                                                        </div></td>
                                                        <td>Australia</td>
                                                        <td class="text-right">
                                                            760
                                                        </td>
                                                        <td class="text-right">
                                                            10.35%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="flag">
                                                                <img src="{{=URL('static','assets/img/DE.png')}}" <="" div="">
                                                        </div></td>
                                                        <td>United Kingdom</td>
                                                        <td class="text-right">
                                                            690
                                                        </td>
                                                        <td class="text-right">
                                                            7.87%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="flag">
                                                                <img src="{{=URL('static','assets/img/DE.png')}}" <="" div="">
                                                        </div></td>
                                                        <td>Romania</td>
                                                        <td class="text-right">
                                                            600
                                                        </td>
                                                        <td class="text-right">
                                                            5.94%
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="flag">
                                                                <img src="{{=URL('static','assets/img/DE.png')}}" <="" div="">
                                                        </div></td>
                                                        <td>Brasil</td>
                                                        <td class="text-right">
                                                            550
                                                        </td>
                                                        <td class="text-right">
                                                            4.34%
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card card-user">
            <div class="image">
                <img src="{{=URL('static','assets/img/background.jpg')}}  " alt="..."/>
            </div>
            <div class="content">
                <div class="author">
                  <img class="avatar border-white" src="{{=URL('static','assets/img/faces/face-2.jpg')}}  " alt="..."/>
                  <h4 class="title">Chet Faker<br />
                     <a href="#"><small>@chetfaker</small></a>
                  </h4>
                </div>
                <p class="description text-center">
                    "I like the way you work it <br>
                    No diggity <br>
                    I wanna bag it up"
                </p>
            </div>
            <hr>
            <div class="text-center">
                <div class="row">
                    <div class="col-md-3 col-md-offset-1">
                        <h5>12<br /><small>Files</small></h5>
                    </div>
                    <div class="col-md-4">
                        <h5>2GB<br /><small>Used</small></h5>
                    </div>
                    <div class="col-md-3">
                        <h5>24,6$<br /><small>Spent</small></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
