
.center{text-align: center;}
#addPet {
  color: #ffffff;
  padding: 7px 13px;
  border-radius: 50%;
  background-color: rgba(0, 204, 253, 0.4);
  position: fixed;
  right: 20px;
  bottom: 58px;
  font-size: 2pc;
  cursor: pointer;
  z-index: 1000;
}

/*logo*/
#logoBox{
    text-align: center;
    color: #d6d4cd;
}
#logoBox i {
    font-size: 8pc;
}
#logoFont1{
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    color: #61D9FF;
    font-size: inherit;
    font-weight: 800;
}
#logoFont3{
  margin: 0px auto !important;
  font-family: 'Comfortaa', cursive;
  color: #d6d4cd;
  font-size: xx-large;
  padding: 6px;
}
#logoFont2{
    margin: 0px auto !important;
    font-family: 'Comfortaa', cursive;
    color: #88DEF9;
    font-size: x-large;
    padding: 6px;
}#logoFont2>span{
    color: #00C3FF;
}
.logoBar {
    width: 199px;
    margin: 0 auto;
}
.logoBar i.material-icons {
    color: #88def9;
    float: left;
    font-size: 31px;
}
