{{extend 'layout_login.html'}}

{{block head}}
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/cadastro/cadastro.css')}}">
{{end}}
	<h3 class="center">Seja bem vindo!</h3>
<div class="container">

	<div class="row">
		<div  class="col-md-6 ">
			<div class="card logar">
				<div class="header">
					{{=logomin}}
					<h4> LOGIN</h4>
				</div>
				<div class="content">
						{{=login}}
				</div>
			</div>
		</div>
		<div class="col-md-6 ">

			<div class=" card registrar">
				<div class="header">
					{{=logomin}}
					<h4>CADASTRO</h4>
				</div>
				<div class="content">
				  {{=cadastro}}
				</div>
			</div>
		</div>
		<div class="clean"></div>
	</div>

	</div>
