img.thumbnail_pet {
    width: 67% !important;
    border-radius: 14px;
    margin-left: 7px;
    border: 4px solid #efefef;
}
.col-lg-4.col-sm-6.pet_cart {
    cursor: pointer;
}
.pet_cart .card:hover {
    /* : antiquewhite; */
    background-color: #f7f7f7;
}